
<% if current_user %>
	<div class="table">
	  <table class="table col-xs-10">
	    <thead>
	        <tr class="date_titles">
	            <th class="category_title">Category</th>
	            <th>
	            	<% date = Time.now %>
	            	<% sunday = date.beginning_of_week(start_day = :sunday) %>
	            	<%= sunday.strftime("%A") %>
	            	<br/>
	            	<%= sunday.strftime("%b %-d, %Y") %>
	            </th>
	            <th>
	            	<% monday = sunday.advance(days: 1) %>
	            	<%= monday.strftime("%A") %>
	            	<br/>
	            	<%= monday.strftime("%b %-d, %Y") %>
	            </th>
	            <th>
	            	<% tuesday = sunday.advance(days: 2) %>
	            	<%= tuesday.strftime("%A") %>
	            	<br/>
	            	<%= tuesday.strftime("%b %-d, %Y") %>
	            </th>
	            <th>
	            	<% wednesday = sunday.advance(days: 3) %>
	            	<%= wednesday.strftime("%A") %>
	            	<br/>
	            	<%= wednesday.strftime("%b %-d, %Y") %>
	            </th>
	            <th>
	            	<% thursday = sunday.advance(days: 4) %>
	            	<%= thursday.strftime("%A") %>
	            	<br/>
	            	<%= thursday.strftime("%b %-d, %Y") %>
	            </th>
	            <th>
	            	<% friday = sunday.advance(days: 5) %>
	            	<%= friday.strftime("%A") %>
	            	<br/>
	            	<%= friday.strftime("%b %-d, %Y") %>
	            </th>
	            <th>
	            	<% saturday = sunday.advance(days: 6) %>
	            	<%= saturday.strftime("%A") %>
	            	<br/>
	            	<%= saturday.strftime("%b %-d, %Y") %>
	            </th>
	        </tr>
	        <tr class="points_sums">
	            <th class="points_title">Points</th>
	            <th>
	            	<% sum_sun = 0 %>
	            	<% sun_tasks = current_user.tasks.where(date: sunday)%>
	            	<% sun_tasks.each do |tsk|%>
	            		<% sum_sun += tsk.value %>
            		<% end %>
            		<%= sum_sun %>
	            </th>
	            <th>
	            	<% sum_mon = 0 %>
	            	<% mon_tasks = current_user.tasks.where(date: monday)%>
	            	<% mon_tasks.each do |tsk|%>
	            		<% sum_mon += tsk.value %>
            		<% end %>
            		<%= sum_mon %>
	            </th>
	            <th>
	            	<% sum_tues = 0 %>
	            	<% tues_tasks = current_user.tasks.where(date: tuesday)%>
	            	<% tues_tasks.each do |tsk|%>
	            		<% sum_tues += tsk.value %>
            		<% end %>
            		<%= sum_tues %>
	            </th>
	            <th>
	            	<% sum_wed = 0 %>
	            	<% wed_tasks = current_user.tasks.where(date: wednesday)%>
	            	<% wed_tasks.each do |tsk|%>
	            		<% sum_wed += tsk.value %>
            		<% end %>
            		<%= sum_wed %>
	            </th>
	            <th>
	            	<% sum_thur = 0 %>
	            	<% thur_tasks = current_user.tasks.where(date: thursday)%>
	            	<% thur_tasks.each do |tsk|%>
	            		<% sum_thur += tsk.value %>
            		<% end %>
            		<%= sum_thur %>
	            </th>
	            <th>
	            	<% sum_fri = 0 %>
	            	<% fri_tasks = current_user.tasks.where(date: friday)%>
	            	<% fri_tasks.each do |tsk|%>
	            		<% sum_fri += tsk.value %>
            		<% end %>
            		<%= sum_fri %>
	            </th>
	            <th>
	            	<% sum_sat = 0 %>
	            	<% sat_tasks = current_user.tasks.where(date: saturday)%>
	            	<% sat_tasks.each do |tsk|%>
	            		<% sum_sat += tsk.value %>
            		<% end %>
            		<%= sum_sat %>
	            </th>
	        </tr>
	    </thead>
	    <tbody>  
	    	<% current_user.categories.each do |cat| %>
	    		<tr>
	    			<td class="category_name_titles">
	    				<%= cat.name %>
	    			</td>
	    			<td class="task_box">
	    				<% current_user.tasks.each do |tsk| %>
	    					<% if tsk.date == sunday && tsk.category_id == cat.id %>
	    						<div class="task_text">
		    						<%= tsk.title %>
		    						<br/>
		    						<%= tsk.value %>
	    						</div>
    						<%end%>	
						<%end%>
	    			</td>
	    			<td class="task_box">
	    				<% current_user.tasks.each do |tsk| %>
	    					<% if tsk.date == monday && tsk.category_id == cat.id %>
	    						<div class="task_text">
		    						<%= tsk.title %>
		    						<br/>
		    						<%= tsk.value %>
	    						</div>
    						<%end%>	
						<%end%>
	    			</td>
	    			<td class="task_box">
	    				<% current_user.tasks.each do |tsk| %>
	    					<% if tsk.date == tuesday && tsk.category_id == cat.id %>
	    						<div class="task_text">
		    						<%= tsk.title %>
		    						<br/>
		    						<%= tsk.value %>
	    						</div>
    						<%end%>	
						<%end%>
	    			</td>
	    			<td class="task_box">
	    				<% current_user.tasks.each do |tsk| %>
	    					<% if tsk.date == wednesday && tsk.category_id == cat.id %>
	    						<div class="task_text">
		    						<%= tsk.title %>
		    						<br/>
		    						<%= tsk.value %>
	    						</div>
    						<%end%>	
						<%end%>
	    			</td>
	    			<td class="task_box">
	    				<% current_user.tasks.each do |tsk| %>
	    					<% if tsk.date == thursday && tsk.category_id == cat.id %>
	    						<div class="task_text">
		    						<%= tsk.title %>
		    						<br/>
		    						<%= tsk.value %>
	    						</div>
	    					<%end%>	
						<%end%>
	    			</td>
	    			<td class="task_box">
	    				<% current_user.tasks.each do |tsk| %>
	    					<% if tsk.date == friday && tsk.category_id == cat.id %>
	    						<div class="task_text">
		    						<%= tsk.title %>
		    						<br/>
		    						<%= tsk.value %>
	    						</div>
	    					<%end%>	
						<%end%>
	    			</td>
	    			<td class="task_box">
	    				<% current_user.tasks.each do |tsk| %>
	    					<% if tsk.date == saturday && tsk.category_id == cat.id %>
	    						<div class="task_text">
		    						<%= tsk.title %>
		    						<br/>
		    						<%= tsk.value %>
	    						</div>
    						<%end%>	
						<%end%>	
	    			</td>
	    		</tr>
    		<%end%>	
	    </tbody>
	  </table>
	</div>
<% else %>
	<h1 class="landing_page_title">BrainWidth</h1>
	<h2 class="landing_page_byline">Because not all tasks are created equal</h2>
	<p class="landing_page_exp">An hour at work can feel like a day, and an hour with friends can feel like minutes. With BrainWidth you can schedule your days according to how busy you feel, rather than how much time is in your schedule. By allowing you to set points values for tasks, BrainWidth helps you balance your busy schedule with your physical and emotional resources, so that your days feel full and productive, but never overwhelming. </p>

	<h2 class="landing_page_singoff"> Log in or Sign up to start planning your week! </h2>

<% end %>











