<h1>New Task</h1>

<%= simple_form_for @task do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :date, order: [:month, :day, :year] %>
  <%= f.input :value, collection: 1..10 %>
  <%= f.association :category %>
  <%= f.button :submit %>
<% end %>


<!-- #see SimpleForm documentation on associations
#https://github.com/plataformatec/simple_form -->