<!DOCTYPE html>
<html>
<head>
  <title>Brainwidth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-nav">
    <div class="col-xs-offset-1">
      <div class="brand pull-left">
        <%= link_to 'BrainWidth', root_path%>
      </div>
      <div class="new_items pull-left">
      	<% if current_user %>
	      <a type="button" role="button" data-toggle="modal" data-target="#newtaskModal">
	      	New Task
	      </a>
          <br/> 
          <a type="button" role="button" data-toggle="modal" data-target="#newcategoryModal">
          	New Category
		  </a>
        <% end %>
      </div>
      <div class="add pull-right">
        <% if current_user %>
          <%= current_user.email %>
          <br/> 
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <a type="button" role="button" data-toggle="modal" data-target="#signinModal">
  			Sign in</a>
          <br/> 
          <a type="button" role="button" data-toggle="modal" data-target="#signupModal">
          	Sign up
		  </a>
        <% end %>
      </div>
    </div>
    <br class="clear-fix" />
  </div>

<!-- Modal -->
<div class="modal fade" id="newtaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Task</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @task do |f| %>
		  <%= f.input :title %>
		  <%= f.input :description %>
		  <%= f.input :date, order: [:month, :day, :year] %>
		  <%= f.input :value, collection: 1..10 %>
		  <%= f.association :category %>
      </div>
      <div class="modal-footer">
      	  <%= f.button :submit %>
		<% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newcategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Category</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @category do |f| %>
		  <%= f.input :name %>
		  <%= f.input :description %>
      </div>
      <div class="modal-footer">
      	<%= f.button :submit %>
		<% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
          </div>
	    </div>
	    <div class="modal-footer">
	      <%= f.button :submit, "Sign up" %>
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
          </div>
	     </div>
	     <div class="modal-footer">
	     	<%= f.button :submit, "Log in" %>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <br/>
	        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
	     </div>
	    <% end %>
    </div>
  </div>
</div>

	<% if notice.present? %>
	  <p class="alert alert-info alert-dismissible" role="alert"><%= notice %>
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
	<% end %>
	<% if alert.present? %>
	  <p class="alert alert-danger alert-dismissible" role="alert"><%= alert %>
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
	<% end %>

<%= yield %>

</body>
</html>
